h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 147, 250);
  height: 90px;
  width: 100%;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: rgb(78, 147, 250);
  font-size: 30px;
  margin: 30px 0px 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  font-size: 20px;
  margin: 15px 0px 0px 60px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: circle;
}

.importante {
  text-decoration-line: underline;
  font-weight: bold;
}

table {
  height: 260px;
  width: 500px;
  text-align: center;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

thead {
  background-color: rgb(78, 147, 250);
  color: white;
  height: 55px;
}

tbody {
  background-color: rgb(211, 227, 250);
}

tbody > tr:nth-child(even) {
  background-color: rgb(115, 166, 243);
}

#descanso {
  font-weight: bolder;
}

.horas {
  background-color: rgb(160, 196, 250);
}
